<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="qi.yue.dao.mapper.CommentMapper">
	<resultMap id="BaseResultMap" type="qi.yue.entity.Comment">
		<id column="comment_id" property="commentId" jdbcType="INTEGER" />
		<result column="msg" property="msg" jdbcType="VARCHAR" />
		<result column="uid" property="uid" jdbcType="INTEGER" />
		<result column="face_url" property="faceUrl" jdbcType="VARCHAR" />
		<result column="created_at" property="createdAt" jdbcType="CHAR" />
		<result column="nickname" property="nickname" jdbcType="VARCHAR" />
		<result column="updated_at" property="updatedAt" jdbcType="CHAR" />
	</resultMap>

	<sql id="Base_Column_List">
   		 comment_id, msg, uid, mid, face_url, created_at, nickname
  	</sql>

	<select id="selectByPrimaryKey" resultMap="BaseResultMap"
		parameterType="java.lang.Integer">
		select
		<include refid="Base_Column_List" />
		from t_comment
		where comment_id = #{commentId,jdbcType=INTEGER}
	</select>
	<delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
		delete from t_comment
		where comment_id = #{commentId,jdbcType=INTEGER}
	</delete>

	  <insert id="insert" parameterType="qi.yue.entity.Comment" useGeneratedKeys="true" keyProperty="commentId">
    insert into t_comment (comment_id, msg, uid, 
      mid, face_url, created_at, 
      nickname)
    values (#{commentId,jdbcType=INTEGER}, #{msg,jdbcType=VARCHAR}, #{uid,jdbcType=INTEGER}, 
      #{mid,jdbcType=INTEGER}, #{faceUrl,jdbcType=VARCHAR}, #{createdAt,jdbcType=TIMESTAMP}, 
      #{nickname,jdbcType=VARCHAR})
  </insert>

</mapper>