<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="qi.yue.dao.mapper.FollowingMapper">
	<resultMap id="BaseResultMap" type="qi.yue.dto.FollowingDTO">
		<id column="id" property="following_id" jdbcType="INTEGER" />
		<result column="fid" property="fid" jdbcType="INTEGER" />
		<result column="tid" property="tid" jdbcType="INTEGER" />
		<result column="face_url" property="face_url" jdbcType="VARCHAR" />
		<result column="signature" property="signature" jdbcType="VARCHAR" />
		<result column="nickname" property="nickname" jdbcType="VARCHAR" />
		<result column="created_at" property="created_at" jdbcType="TIMESTAMP" />
		<result column="updated_at" property="updated_at" jdbcType="TIMESTAMP" />
	</resultMap>
	<sql id="Base_Column_List">
		id, fid, tid, face_url, signature, nickname, created_at,
		updated_at
	</sql>
	<select id="selectByPrimaryKey" resultMap="BaseResultMap"
		parameterType="java.lang.Integer">
		select
		<include refid="Base_Column_List" />
		from t_following
		where fid = #{id,jdbcType=INTEGER}
	</select>

	<select id="findByTid" resultMap="BaseResultMap" parameterType="java.lang.Integer">
		select
		<include refid="Base_Column_List" />
		from t_following
		where tid = #{tid,jdbcType=INTEGER}
	</select>

	<select id="findByFid" resultMap="BaseResultMap" parameterType="java.lang.Integer">
		select
		<include refid="Base_Column_List" />
		from t_following
		where fid = #{fid,jdbcType=INTEGER}
	</select>

	<delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
		delete from
		t_following
		where id = #{id,jdbcType=INTEGER}
	</delete>

	<insert id="insert" parameterType="qi.yue.entity.Following">
		insert into t_following (id,
		fid, tid,
		face_url, signature, nickname,
		created_at, updated_at)
		values
		(#{id,jdbcType=INTEGER}, #{fid,jdbcType=INTEGER},
		#{tid,jdbcType=INTEGER},
		#{faceUrl,jdbcType=VARCHAR},
		#{signature,jdbcType=VARCHAR}, #{nickname,jdbcType=VARCHAR},
		#{createdAt,jdbcType=TIMESTAMP}, #{updatedAt,jdbcType=TIMESTAMP})
	</insert>

	<delete id="deleteByFidAndTid" parameterType="map">
		delete from
		t_following
		where fid = #{fid,jdbcType=INTEGER}
		and tid =
		#{tid,jdbcType=INTEGER}
	</delete>
</mapper>