<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="qi.yue.dao.mapper.ThumbsUpMapper">
	<resultMap id="BaseResultMap" type="qi.yue.dto.ThumbsUpDto">
		<id column="thumbs_up_id" property="thumbs_up_id" jdbcType="INTEGER" />
		<result column="user_id" property="uid" jdbcType="INTEGER" />
		<result column="moment_id" property="mid" jdbcType="INTEGER" />
		<result column="nickname" property="nickname" jdbcType="VARCHAR" />
		<result column="created_at" property="created_at" jdbcType="TIMESTAMP" />
		<result column="updated_at" property="updated_at" jdbcType="TIMESTAMP" />
	</resultMap>

	<sql id="Base_Column_List">
		id, user_id, nickname, moment_id, created_at, updated_at
	</sql>

	<select id="selectByPrimaryKey" resultMap="BaseResultMap"
		parameterType="java.lang.Integer">
		select
		<include refid="Base_Column_List" />
		from t_thumbs_up
		where id = #{id,jdbcType=INTEGER}
	</select>

	<insert id="insert" parameterType="qi.yue.entity.ThumbsUp"
		useGeneratedKeys="true" keyProperty="id">
		insert into t_thumbs_up (id,
		user_id, nickname,
		moment_id, created_at, updated_at
		)
		values
		(#{id,jdbcType=INTEGER}, #{userId,jdbcType=INTEGER},
		#{nickname,jdbcType=VARCHAR},
		#{momentId,jdbcType=INTEGER},
		#{createdAt,jdbcType=TIMESTAMP}, #{updatedAt,jdbcType=TIMESTAMP}
		)
	</insert>

	<delete id="delete" parameterType="java.lang.Integer">
		delete from
		t_thumbs_up
		where id
		= #{id,jdbcType=INTEGER}
	</delete>
</mapper>